<ion-header>
    <ion-toolbar>
        <ion-buttons right>
            <button ion-button (click)="refreshPage()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Plants weather App
        </ion-title>
    </ion-toolbar>
</ion-header>
<div></div>
<ion-content padding>
    <form (ngSubmit)="setCityName()">
        <ion-auto-complete #searchbar [dataProvider]="completeService"></ion-auto-complete>
        <button ion-button icon-left block>
            <ion-icon name="search"></ion-icon>
            Load Weather
        </button>
    </form>
    <ion-list no-lines>
        <ion-item [hidden]="cItems.length > 0">
            <p>
                <strong>Weather data is not available</strong>
            </p>
        </ion-item>
        <ion-item *ngFor="let item of cItems">
            <p>
                <strong>{{item.name}}:</strong> {{item.value}}
            </p>
        </ion-item>
    </ion-list>
    <button ion-button block (ngClick)="refrehsAreas()">Refresh areas</button>
    <ion-item *ngFor="let doc of documents">
        <p>
            <strong>{{doc.name}}</strong>
        </p>
        <ion-checkbox checked="false" [(ngModel)]="doc.checked"></ion-checkbox>
    </ion-item>

    <form (ngSubmit)="sendWeather()">
        <button ion-button block>
            Send to plantsarea
        </button>
    </form>

</ion-content>
<ion-footer>
    <ion-toolbar>
    </ion-toolbar>
</ion-footer>
