page-home {
    .center {
        text-align: center;
    }

    .ionic-logo {
        display: inline-flex;
        position: relative;
        width: 87px;
        height: 87px;
        border: 3.5px solid #5E86C4;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-animation: spin 2s infinite linear;
        -webkit-animation: spin 2s infinite linear;
    }

    .ionic-logo:after {
        content: '';
        position: absolute;
        width: 38px;
        height: 38px;
        background: #5E86C4;
        top: 50%;
        left: 50%;
        margin-left: -19px;
        margin-top: -19px;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
    }

    .ionic-logo:before {
        content: '';
        background: #5E86C4;
        width: 14px;
        height: 14px;
        position: absolute;
        top: -8px;
        left: 50%;
        margin-left: -7px;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
    }


    ion-checkbox {
        width: 10%;
    }
    /*.item-input {*/
    ion-input {
        display: inline-block;
        top: -5px;
        width: 80%;
        font-size: 25px;
    }
    /*.item.item-md ion-{*/
    .checkbox-md {
        display: inline-block;

        .checkbox-checked .checkbox-inner {
            width: 16px;
            height: 18px;
        }
    }

    .user {
        width: 62%;
        float: right;
        margin-top: 15px;
    }

    .panel, .form-group input {
        padding: 10px 16px;
        border: 1px solid #000;
        border-radius: 14px;
        font-size: 14px;
        width: 100%;
    }

    .margin-top {
        margin-top: 35px;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @-moz-keyframes spin {
        0% {
            -moz-transform: rotate(0deg);
        }

        100% {
            -moz-transform: rotate(360deg);
        }
    }
    /*button, .button {
        z-index: 1000;
    }*/
}
